body {
  overflow: hidden;
}
header {
  background-color: #3d20d1;
}
a {
  cursor: pointer;
}
@media screen and (max-width: 1100px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 72px;
    /* Dodać Javascript który czyta wartość height headera */
  }
}

header .wrapper {
  display: flex;
  padding: 16px;
  align-items: center;
}
@media screen and (min-width: 1101px) {
  header .wrapper {
    justify-content: space-between;
  }
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  width: 124px;
  height: 34px;
}
.discord-link {
  margin-left: auto;
  margin-right: 0.25rem;
  background-color: rgb(246, 246, 246);
  color: rgb(35, 39, 42);
  padding: 7px 10px;
  border-radius: 99vh;
  border: 0;
  font-size: 14px;
  text-decoration: none;
  line-height: 24px;
  font-weight: 800;
}
@media screen and (min-width: 1101px) {
  .discord-link {
    margin: 0;
  }
}

.burger-button {
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: transparent;
  border: 0;
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100000;
}

.burger-button .bars {
  margin: 0;
  width: 30px;
  height: 3px;
  background-color: white;
  border-radius: 2px;
}
.burger-button.active .bars {
  background-color: white;
}
.burger-button .bars:before,
.burger-button .bars:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: white;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.burger-button.active .bars:before,
.burger-button.active .bars:after {
  content: "";
  background-color: black;
}
.burger-button .bars:before {
  content: "";
  transform: translateY(-6px);
}
.burger-button .bars:after {
  content: "";
  transform: translateY(6px);
}

.burger-button.active .bars:before {
  content: "";
  transform: rotate(45deg);
  transition: 400ms ease-in-out;
}
.burger-button.active .bars:after {
  content: "";
  transform: rotate(-45deg);
  transition: 400ms ease-in-out;
}

@media screen and (min-width: 1100px) {
  .burger-button {
    display: none;
  }
}

/* Navigation Mobile */

.nav-mobile.active {
  transform: translateX(0%);
}

.nav-mobile {
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  min-width: 320px;
  max-width: 992px;
  background-color: white;
  z-index: 100;
  padding: 16px 0px 16px 16px;
  transform: translateX(100%);
}
.nav-mobile-header {
  display: flex;
  gap: 1rem;
  border-style: none none solid;
  border-width: 1px;
  border-color: #ebedef #ebedef #111;
  filter: invert(100%);
  padding-bottom: 1rem;
}

.nav-mobile-header .discord-link-nav-mobile {
  padding: 7px 10px;
  border-radius: 99vh;
  border: 0;
  font-size: 14px;
  text-decoration: none;
  background-color: #a79a0d;
  color: black;
  font-size: 14px;
  line-height: 24px;
  font-weight: 800;
}
.burger-button.active .nav-mobile-header .discord-link-nav-mobile {
  animation: discord-button-show 0.5s ease-in-out;
}
@keyframes discord-button-show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.nav-mobile-main ul {
  padding: 0;
  margin: 0;
  list-style: none;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.nav-mobile-main a {
  text-decoration: none;
  padding: 8px 16px;
  color: #23272a;
  line-height: 24px;
  font-weight: 700;
  text-align: left;
}
@media screen and (min-width: 1101px) {
  .nav-mobile {
    display: none;
  }
}

/* Navigation desktop */
@media screen and (min-width: 1101px) {
  .nav-desktop ul {
    flex-basis: 100%;
    margin-left: auto;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    display: flex;
  }
  .nav-desktop a {
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
  }
}
@media screen and (max-width: 1100px) {
  .nav-desktop {
    display: none;
  }
}

.hero {
  background-color: #3d20d1;
}
@media screen and (min-width: 1100px) {
  .hero {
    background-image: url(/src/images/hero-desktop-background-image.png);
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: 2850px;
    min-height: 100vh;
    overflow: hidden;
  }
}
.hero .wrapper {
  padding: 32px 16px;
  margin-top: 72px;
}
@media screen and (min-width: 1100px) {
  .hero .wrapper {
    margin-top: 0;
    padding: 220px;
  }
}
.hero .heading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  display: flex;
  justify-content: center;
}
.hero-text p {
  max-width: 640px;
  color: white;
  text-align: center;
}
.button-container {
  margin-block: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-width: 255px;
}
.button-container a:nth-of-type(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: rgb(246, 246, 246);
  color: rgb(35, 39, 42);
  padding: 14px 60px;
  border-radius: 99vh;
  border: 0;
  min-width: 298px;
  max-width: 360px;
  width: 100%;
}

.button-container a:nth-of-type(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: rgb(35, 39, 42);
  color: rgb(246, 246, 246);
  padding: 14px 20px;
  border-radius: 99vh;
  border: 0;
  min-width: 298px;
  max-width: 360px;
  width: 100%;
}
@media screen and (min-width: 1100px) {
  .button-container {
    margin: 0 auto;
    width: fit-content;
    display: flex;
    flex-direction: row;
  }
  .button-container a {
    min-width: fit-content;
  }
}
.polaroid-img {
  margin-top: 2rem;
}
@media screen and (min-width: 1100px) {
  .polaroid-img {
    display: none;
  }
}
.section-2 .wrapper {
  padding: 32px 16px;
}
.section-2 .heading {
  margin-bottom: 3rem;
  text-align: center;
}
.grid-container {
  display: grid;
  gap: 1rem;
}
@media screen and (min-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
.box-container {
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  background-color: #f2f3f5;
  border-radius: 20px;
}
.box-container.big img {
  margin-top: auto;
}

.box-container.small a {
  text-decoration: none;
  color: #0067e0;
  font-size: 14px;
  font-weight: 500;
}
.box-container.small.nitro a {
  padding: 12px 16px;
  border-radius: 5px;
  gap: 0.5rem;
  display: flex;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  background-color: #2d7d46;
  border: 0;
  color: white;
  font-size: 14px;
  font-weight: 500;
}

.box-container.small h2 {
  margin-block: 1rem;
}
.section-3 .wrapper {
  padding: 32px 16px;
}
.section-3 .heading {
  margin-bottom: 3rem;
  text-align: center;
}
.color-date-heading {
  color: #3442d9;
  font-size: 32px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 1rem;
}
.box {
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  border: 3px solid #f6f6f6;
  border-radius: 20px;
  margin-bottom: 4rem;
  gap: 1rem;
}
.box > a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.33rem;
  text-decoration: none;
  color: #0067e0;
  margin-top: 12px;
  font-weight: 600;
}
.box a img {
  width: 16px;
  height: 16px;
}
.box p {
  color: #2e3338;
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  text-align: center;
  margin: 0;
}
.section-4 {
  background-color: #3d21d1;
  background-image: url(/src/images/63628142f7a0ffe5a43ac6bd_Illustrations\ 2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 20% 50%;
}
@media screen and (min-width: 1100px) {
  .section-4 {
    background-position: center center;
  }
}
.section-4 .wrapper {
  padding: 32px 16px;
  padding-block: 88px;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media screen and (min-width: 1100px) {
  .section-4 .wrapper {
    padding-block: 220px;
  }
}
.section-4 .wrapper a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: rgb(35, 39, 42);
  padding: 14px 20px;
  border-radius: 99vh;
  border: 0;
  min-width: 298px;
  max-width: 360px;
  width: 100%;
  color: white;
  text-decoration: none;
}
footer {
  background-color: #23272a;
}
footer .wrapper {
  padding: 32px 16px;
}
footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.footer-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: white;
  gap: 2rem;
}
.footer-top .heading-color {
  font-family: "ABC Ginto Nord", "Noto Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  color: #5865f2;
  font-size: 32px;
  line-height: 80%;
  font-weight: 900;
  text-transform: uppercase;
}
.footer-top .social-media {
  display: flex;
  gap: 1rem;
}
.footer-grid > .footer-nav li:nth-of-type(1) {
  color: #5865f2;
  margin-bottom: 1.5rem;
}
.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.footer-bottom {
  margin-top: 2rem;
  padding-top: 2rem;
  display: flex;
  border-top: 1px solid #5865f2;
}
@media screen and (min-width: 1100px) {
  .footer-bottom {
    justify-content: space-between;
  }
}
.footer-bottom img {
  width: 124px;
  height: 34px;
}
.footer-bottom a {
  text-decoration: none;
  background-color: #5865f2;
  color: white;
}

.footer-top {
  grid-column: span 2;
}
@media screen and (min-width: 1100px) {
  .wrapper {
    margin: 0 auto;
    max-width: 1100px;
  }
}
